---
layout: default
---

{% if site.posts.size == 0 %}
    <div layout="column" layout-align="center center" flex>
        <span class="icon icon-announcement icon-5x"></span>
        <p>Não há posts para ler...</p>
    </div>
{% endif %}

{% for post in site.posts %}
    {% include post-top.html post=post %}
    <h2 class="post-title">
        <a href="{{ post.url }}">
            {{ post.title }}
            <small class="icon icon-open-in-new"></small>
        </a>
    </h2>
    {{ post.excerpt }}

    {% if post.content contains site.excerpt_separator %}
        <md-button class="md-raised md-primary" href="{{ site.baseurl }}{{ post.url }}">
            Continue reading
        </md-button>
    {% endif %}

    {% include post-bottom.html post=post %}
{% endfor %}