<head>
    {% if page.title %}
        <title>{{ page.title }} &bull; {{ site.title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Feeds -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">

    <!-- Twitter cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.data.networks.twitter.username }}">
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }} &bull; {{ site.title }}">
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en">
    <meta property="og:url" content="{{ site.fullurl }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    {% else %}
    <meta property="og:title" content="{{ site.title }}">
    {% endif %}
    <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}">

    <!-- Schema.org Google -->
    {% if page.title %}
    <meta itemprop="name" content="{{ page.title }} &bull; {{ site.title }}">
    {% else %}
    <meta itemprop="name" content="{{ site.title }}">
    {% endif %}
    <meta itemprop="description" content="{{ page.excerpt | strip_html | strip_newlines }}">

    <link rel="stylesheet" href="//plook.injoin.io/angular-material/0.7.0/angular-material.min.css">
    <link rel="stylesheet" href="//plook.injoin.io/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
</head>