<head>
    {% if page.title %}
        <title>{{ page.title }} &bull; {{ site.title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.data.networks.twitter.username }}">
    <meta name="twitter:title" content="{{ page.title }} &bull; {{ site.title }}">
    <meta name="twitter:description" content="{{ page.excerpt }}">

    <link rel="stylesheet" href="//plook.injoin.io/angular-material/0.7.0/angular-material.min.css">
    <link rel="stylesheet" href="//plook.injoin.io/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
</head>