{% assign author = site.authors[include.post.author] %}
<md-card>
    <md-card-content layout-sm="column" layout-gt-sm="row" layout-padding layout-margin>
        <div flex="15" class="post-meta"
             layout="row" flex-order-sm="2" layout-align-sm="start center"
             layout-gt-sm="column" layout-align-gt-sm="start end" flex-order-gt-sm="0">
            <div>
                <img src="https://gravatar.com/avatar/{{ author.gravatar }}?s=48"
                     class="md-avatar">

                <md-tooltip>
                    {{ author.name }}
                </md-tooltip>
            </div>
            <div class="post-meta-content" flex>
                <div hide-gt-sm>{{ author.name }}</div>
                <time>{{ include.post.date | date: '%d/%m/%Y' }}</time>
            </div>
        </div>
        <div class="post-body" flex flex-order="1">