<!DOCTYPE html>
<html ng-app="app">
    {% include head.html %}
    <body>
        <md-toolbar class="md-whiteframe-z1">
            <div class="md-toolbar-tools container">
                <h1 class="logo">
                    <a href="{{ site.baseurl }}/">
                        <svg viewBox="0 0 297 149" style="height: 48px"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use xlink:href="{{ site.baseurl }}/images/logo.svg#logo"></use>
                        </svg>
                    </a>
                </h1>
                <div flex></div>
                {% for network in site.data.networks %}
                    <md-button class="md-button-icon" href="{{ network[1].url }}" aria-label="{{ network[1].name }}">
                        <span class="fa fa-{{ network[0] }} fa-2x"></span>
                    </md-button>
                {% endfor %}


            </div>
        </md-toolbar>
        <div class="page-content" layout="column">
            <div class="container">
                {% if page.path %}
                <md-button href="{{ site.github_url }}/blob/master/{{ page.path }}"
                           class="md-fab md-accent" aria-label="Editar no GitHub"
                           hide show-gt-md>
                    <span class="icon icon-mode-edit"></span>
                    <md-tooltip>Editar no GitHub</md-tooltip>
                </md-button>
                {% endif %}

                {{ content }}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>