<!DOCTYPE html>
<html ng-app="app">
    {% include head.html %}
    <body layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1 class="logo">
                    <a href="{{ site.baseurl }}/">
                        <svg viewBox="0 0 297 149" style="height: 48px"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use xlink:href="{{ site.baseurl }}/images/logo.svg#logo"></use>
                        </svg>
                    </a>
                </h1>
                <div flex></div>
                <md-button aria-label="Pesquisar">
                    <span class="icon icon-search icon-lg"></span>
                </md-button>
            </div>
        </md-toolbar>
        <md-content class="container" layout="column" flex>
            {{ content }}
        </md-content>
        {% include footer.html %}
    </body>
</html>