---
layout: default
---
{% assign author = site.authors[page.author] %}

{% include post-top.html post=page %}
<h2 class="post-title">{{ page.title }}</h2>
{{ content }}

<div class="share-buttons">
    <h4>Share on</h4>
    <md-button class="md-primary md-raised md-hue-2" md-theme="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ page.url }}">
        Facebook
    </md-button>
    <md-button class="md-primary md-raised" md-theme="googleplus" href="https://plus.google.com/share?url={{ site.baseurl }}{{ page.url }}">
        Google+
    </md-button>
    <md-button class="md-primary md-raised" md-theme="twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.baseurl }}{{ page.url }}&via={{ site.data.networks.twitter.username }}">
        Twitter
    </md-button>
</div>

<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% include post-bottom.html post=page %}

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = "{{ site.disqus.name }}";

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>